#s-79a492ff-44de-425f-bfde-ff21750a92ff > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff > #alignmentBox {
  position: relative;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_1 {
  width: 1221.1233094669847px;
  height: 297.10758704441594px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_4 {
  position: absolute;
  width: 589.6233094669847px;
  min-height: 240.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_2 {
  width: 1221.1233094669847px;
  height: 319.6042541197421px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_6 {
  position: absolute;
  width: 578.5000000000005px;
  min-height: 260.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_4 {
  position: absolute;
  width: 589.1233094669847px;
  height: 320.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_1 {
  position: absolute;
  width: 1363.0px;
  height: 411.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_8 {
  position: absolute;
  width: 1363.0000000000007px;
  height: 70.6553228611325px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_9 {
  width: 750.0000000000007px;
  height: 30.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_9 td.layout {
  padding: 0px 153px 0px 105px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_9 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_9 .verticalalign {
  vertical-align: top;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_14 {
  position: absolute;
  width: 51.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_14 span#rtr-s-Text_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 600;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_15 {
  position: absolute;
  width: 56.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_15 span#rtr-s-Text_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_16 {
  position: absolute;
  width: 84.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_16 span#rtr-s-Text_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_17 {
  position: absolute;
  width: 118.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_17 span#rtr-s-Text_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_18 {
  position: absolute;
  width: 124.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_18 span#rtr-s-Text_18_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_19 {
  position: absolute;
  width: 99.87062072753906px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_19 span#rtr-s-Text_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_2 {
  position: absolute;
  width: 62.77px;
  height: 50.72px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_3 {
  position: absolute;
  width: 578.27001953125px;
  height: 299.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_10 {
  position: absolute;
  width: 1363.0000000000007px;
  height: 269.655322861132px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_30 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_30 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_30 span#rtr-s-Text_30_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_31 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_31 span#rtr-s-Text_31_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_32 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_32 span#rtr-s-Text_32_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_33 {
  position: absolute;
  width: 63.099998474121094px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_33 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_33 span#rtr-s-Text_33_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_34 {
  position: absolute;
  width: 79.72000122070312px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_34 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_34 span#rtr-s-Text_34_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_35 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_35 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_35 span#rtr-s-Text_35_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_36 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_36 span#rtr-s-Text_36_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_37 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_37 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_37 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_37 span#rtr-s-Text_37_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_38 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_38 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_38 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_38 span#rtr-s-Text_38_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_15 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_15 {
  width: 38.279602925207186px;
  height: 38.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_15 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_15 .verticalalign {
  vertical-align: middle;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_11 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_16 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_16 {
  width: 48.35318264236702px;
  height: 48.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_16 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_16 .verticalalign {
  vertical-align: top;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_12 {
  position: absolute;
  width: 36.03197808065917px;
  height: 34.24942654129202px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_13 {
  position: absolute;
  width: 11.099093992883214px;
  height: 11.099029445543867px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_17 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_17 {
  width: 38.2796029252072px;
  height: 38.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_17 td.layout {
  padding: 0px 1px 0px 1px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_17 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_17 .verticalalign {
  vertical-align: middle;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_14 {
  position: absolute;
  width: 35.37506187800318px;
  height: 38.0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Dynamic_panel_18 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_18 {
  width: 33.24281306662734px;
  height: 36.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_18 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_18 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Panel_18 .verticalalign {
  vertical-align: middle;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Path_15 {
  position: absolute;
  width: 33.0px;
  height: 36.0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_39 {
  position: absolute;
  width: 145.63999938964844px;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_39 .valign {
  vertical-align: top;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_39 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_39 span#rtr-s-Text_39_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_39 span#rtr-s-Text_39_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Line_1 {
  position: absolute;
  width: 48.0px;
  height: 2.0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_1 {
  position: absolute;
  width: 1363.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 48.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 61px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 48.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 61px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_2 {
  position: absolute;
  width: 1363.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
  line-height: 19px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
  line-height: 19px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Rectangle_3 {
  position: absolute;
  width: 1218.6232910156252px;
  min-height: 398.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_8 {
  position: absolute;
  width: 307.0px;
  height: 286.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_11 {
  position: absolute;
  width: 307.0px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 30px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 30px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_9 {
  position: absolute;
  width: 307.0px;
  height: 286.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_12 {
  position: absolute;
  width: 307.0px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 30px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_12 span#rtr-s-Text_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 30px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Image_10 {
  position: absolute;
  width: 307.0000000000002px;
  height: 286.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_13 {
  position: absolute;
  width: 307.0px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 30px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_13 span#rtr-s-Text_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 30px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_7 {
  position: absolute;
  width: 693.6406249999999px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_8 {
  position: absolute;
  width: 1220.6232910156255px;
  min-height: 471.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-79a492ff-44de-425f-bfde-ff21750a92ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}