#s-c47106a3-d4f1-4318-849a-43842417d38d > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d > #alignmentBox {
  position: relative;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_8 {
  position: absolute;
  width: 1363.0000000000007px;
  height: 70.6553228611325px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_1 {
  width: 1218.832092697895px;
  height: 335.0362572908921px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_3 {
  position: absolute;
  width: 389.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_4 {
  position: absolute;
  width: 575.0px;
  min-height: 282.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_2 {
  width: 1219.8319549560547px;
  height: 346.26255953398675px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_5 {
  position: absolute;
  width: 357.23191833496px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_6 {
  position: absolute;
  width: 578.8319549560538px;
  min-height: 288.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_6 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_3 {
  width: 1212.844374050592px;
  height: 313.5115309901448px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_8 {
  position: absolute;
  width: 581.844374050592px;
  min-height: 282.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_8 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_4 {
  width: 1219.8319546737143px;
  height: 343.6042588560679px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_9 {
  position: absolute;
  width: 322.2799987792969px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 30.0pt;
  font-weight: 500;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_10 {
  position: absolute;
  width: 579.000000000001px;
  min-height: 282.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 18.75pt;
  font-weight: 500;
  text-transform: none;
  line-height: 47px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_1 {
  position: absolute;
  width: 0.0px;
  height: 0.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_6 {
  width: 750.0000000000007px;
  height: 30.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_6 td.layout {
  padding: 0px 153px 0px 105px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_21 {
  position: absolute;
  width: 64.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_21 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_22 {
  position: absolute;
  width: 56.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_22 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_22 span#rtr-s-Text_22_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_23 {
  position: absolute;
  width: 84.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_23 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_23 span#rtr-s-Text_23_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_24 {
  position: absolute;
  width: 118.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_24 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_24 span#rtr-s-Text_24_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_25 {
  position: absolute;
  width: 124.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_25 span#rtr-s-Text_25_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_26 {
  position: absolute;
  width: 99.87062072753906px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_26 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_26 span#rtr-s-Text_26_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_3 {
  position: absolute;
  width: 579.0px;
  height: 332.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_4 {
  position: absolute;
  width: 586.9349594116211px;
  height: 349.6865234374998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_5 {
  position: absolute;
  width: 580.0px;
  height: 321.3782608695651px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_6 {
  position: absolute;
  width: 587.9350051879883px;
  height: 335.40460081190804px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_7 {
  position: absolute;
  width: 62.76787568593454px;
  height: 50.71900077575773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Image_2 {
  position: absolute;
  width: 1363.0px;
  height: 411.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_1 {
  position: absolute;
  width: 1363.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 48.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 61px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 48.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 61px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_2 {
  position: absolute;
  width: 1363.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
  line-height: 19px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 500;
  text-transform: none;
  line-height: 19px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_9 {
  position: absolute;
  width: 1363.0000000000007px;
  height: 269.655322861132px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_28 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_28 span#rtr-s-Text_28_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_29 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_29 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_29 span#rtr-s-Text_29_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_30 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_30 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_30 span#rtr-s-Text_30_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_31 {
  position: absolute;
  width: 63.099998474121094px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_31 span#rtr-s-Text_31_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_32 {
  position: absolute;
  width: 79.72000122070312px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_32 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_32 span#rtr-s-Text_32_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_33 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_33 span#rtr-s-Text_33_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_34 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_34 span#rtr-s-Text_34_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_35 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_35 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_35 span#rtr-s-Text_35_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_22.0.0_google',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_36 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_36 span#rtr-s-Text_36_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins_22.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 600;
  text-transform: none;
  line-height: 24px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_13 {
  width: 38.279602925207186px;
  height: 38.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_13 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_13 .verticalalign {
  vertical-align: middle;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_13 {
  position: absolute;
  width: 38.0px;
  height: 38.0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_13 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_14 {
  width: 48.35318264236702px;
  height: 48.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_14 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_14 .verticalalign {
  vertical-align: top;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_14 {
  position: absolute;
  width: 36.03197808065917px;
  height: 34.24942654129202px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_15 {
  position: absolute;
  width: 11.099093992883214px;
  height: 11.099029445543867px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_14 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_15 {
  width: 38.2796029252072px;
  height: 38.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_15 td.layout {
  padding: 0px 1px 0px 1px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_15 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_15 .verticalalign {
  vertical-align: middle;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_16 {
  position: absolute;
  width: 35.37506187800318px;
  height: 38.0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Dynamic_panel_15 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_16 {
  width: 33.24281306662734px;
  height: 36.0px;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_16 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_16 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Panel_16 .verticalalign {
  vertical-align: middle;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Path_17 {
  position: absolute;
  width: 33.0px;
  height: 36.0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_38 {
  position: absolute;
  width: 145.63999938964844px;
  min-height: 65.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_38 .valign {
  vertical-align: top;
  text-align: center;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_38 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_38 span#rtr-s-Text_38_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d #s-Text_38 span#rtr-s-Text_38_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-c47106a3-d4f1-4318-849a-43842417d38d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}